In [1]:
import pandas as pd

In [2]:
dga = pd.read_csv('dga.csv', header=0,encoding='utf-8' )

In [3]:
dga.shape[0]

1000

In [4]:
dga.head(n=5)

                       domain  label
0              okbopqhyiiwnmw      1
1             vsiabumtvbjpctm      1
2  pojeubilmngepzmfpheojzdozs      1
3               iteowjkecxfdl      1
4             vhuredvalwdtwcp      1

In [5]:
legit = pd.read_csv('legit.csv', header=0,encoding='utf-8' )

In [6]:
legit.shape[0]

1000

In [7]:
legit.head(n=5)

      domain  label
0     google      0
1    youtube      0
2   facebook      0
3      baidu      0
4  wikipedia      0

In [8]:
data_combined = pd.concat([dga,legit])

In [9]:
data_combined.shape[0]

2000

In [10]:
data_combined.to_csv('domains.csv', encoding='utf-8', index=False)